:root {
  // colors
  --background: #24293D;
  --background-secondary: #282d41;
  --background-accent: #007FF4; // Используется в свечениях с различной степенью прозрачности

  --text-color: #D0D2D7;
  --text-primary-color: #FFFFFF;
  --text-secondary-color: #A1A3B4;
  --text-minor-color: #7E8195;

  --control-accent-color: #3CA3ED;
  // --control-primary-color: #464C5C;
  --control-secondary-color: #697287;
  --control-primary-minor-color: #384157;
  --control-secondary-minor-color: #2F384B;

  --success-dark-color: #689E4C;
  --attention-primary-color: #E67C79;

  --white-color: #FFFFFF;
}
