@use 'reset';
@use 'vars';
@use 'fonts';
@use 'tooltip';

html {
  font-size: 10px;
  color: #fff;
  background: #24293D !important;
  overflow: hidden;
}

body {
  @include body-large-font();
  padding:
    env(safe-area-inset-top)
    env(safe-area-inset-right)
    env(safe-area-inset-bottom)
    env(safe-area-inset-left);
}

.leadcore-app {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.content {
  max-width: calc(125rem + var(--space-400));
  margin: 0 auto;
  padding: 0 var(--space-200);
  transition: padding .2s ease-in-out;
}