@use 'reset';
@use 'vars';
@use 'fonts';
@use 'tooltip';

html.--layout-styles-viewer {
  font-size: 10px;
  overflow: hidden;

  body {
    @include body-large-font();
    padding:
      env(safe-area-inset-top)
      env(safe-area-inset-right)
      env(safe-area-inset-bottom)
      env(safe-area-inset-left);
  }
}
